# AppointmentService example environment variables
NODE_ENV=development
PORT=3002
SERVICE_NAME=appointment-service
DB_DIALECT=mysql
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=hospital_appointment_db
JWT_SECRET=REPLACE_ME
API_PREFIX=/api/v1
CORS_ORIGIN=*
